/*-- scss:defaults --*/

// fonts

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Gothic+A1:wght@200;400;800;900&family=IBM+Plex+Mono:wght@100;200;300;400;700&family=Inconsolata:wght@200;400;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace    : "Ubunto Mono", monospace !default;

$white: hsla(0, 0%, 100%, 1);
$persian-blue: hsla(227, 100%, 21%, 1);
$havelock-blue: hsla(227, 72%, 55%, 1);
$gulf-blue: hsla(227, 89%, 22%, 1);
$vulcan: hsla(240, 100%, 3%, 1);
$ocean-green: hsl(152, 37%, 46%);
$tussock: hsl(36, 54%, 51%);
$pomegranate: hsl(4, 90%, 58%);

$gray-100: hsl(210, 17%, 98%) !default;
$gray-200: hsl(210, 16%, 93%) !default;
$gray-300: hsl(0, 0%, 87%) !default;
$gray-400: hsl(210, 14%, 83%) !default;
$gray-500: hsl(210, 11%, 71%) !default;
$gray-600: hsl(210, 7%, 56%) !default;
$gray-700: hsl(210, 9%, 31%) !default;
$gray-800: hsl(210, 10%, 23%) !default;
$gray-900: hsl(210, 11%, 15%) !default;
$black:    hsl(0, 0%, 0%) !default;


$primary      : $havelock-blue;
$light-accent : $persian-blue;
$dark-accent  : $gulf-blue;
$dark-shade   : $vulcan;
$default      : $gray-600;
$info         : $dark-accent;
$success      : $ocean-green;
$warning      : $tussock;
$danger       : $pomegranate;

$link-color   : $havelock-blue !default;

/*-- scss:rules --*/

// acceptable rem values with 1 rem = 16 px
// 0.25, 0.5, 0.75, 1, 1.5, 2, 4, 6, 8, 12, 16, 24, 32, 40, 48

 body, p {
  font-family: $font-family-sans-serif;
  color: $dark-shade;
}

p {
  line-height: calc(150% + (0.0025vw * (100 - 30))); /* calculate line height */
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  color: inherit, $dark-shade;
  border-bottom: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.date {
  color: $default;
}


// callouts

.callout-info {
  border-left-color: $info;
}

.callout-warning {
  border-left-color: $warning;

}
.callout-danger {
  border-left-color: $danger;
}

.callout-tip{
  border-left-color: $success;
}

// sidebar TOC

.margin-sidebar,
.toc-active .header-section-number{
 color: $gray-400;
}


.sidebar-menu-container a, .sidebar-item-container .chapter-number {
  color: $gray-400;
}


// responsive iframe
.container {
  position: relative;
  width: 100%;
  padding-bottom: 5%;
}

.responsive-iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

.quarto-title-meta-heading {
  color: $default;
}

// revealjs

.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4, 
.reveal h5, 
.reveal h6 {
  font-family: $font-family-sans-serif;
  font-weight: 800;
  text-transform: lowercase;
  color: inherit, $dark-shade;
}

.slide-cite {
  color: $default;
  font-size: 1rem;
  position: absolute;
  display: block;
  margin-top: 5px;
  text-align: right;
  bottom: 0;
  right: 0;
  }

.reveal img{
  border-radius: 10px;
  // round corner of image

}
// extras

.empty {
  color: inherit;
  -webkit-text-stroke: 2px;
  text-stroke: 2px;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}